Options -Indexes -ExecCGI -Includes

# Çalıştırılabilir betikleri engelle
RemoveHandler .php .phtml .phar .php5 .php7 .php8 .cgi .pl .asp .aspx .jsp
RemoveType    .php .phtml .phar .php5 .php7 .php8 .cgi .pl .asp .aspx .jsp

<FilesMatch "\.(php|phtml|phar|php[0-9]?|cgi|pl|asp|aspx|jsp)$">
  Require all denied
</FilesMatch>

# Nokta dosyaları
<FilesMatch "^\..*">
  Require all denied
</FilesMatch>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
